samples/mule-msg-structure/src/main/mule/read-json.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="553cba90-e57b-4220-aff2-4f80961d8361" basePath="/mule-msg" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="read-jsonFlow" doc:id="c6319249-788e-4077-a3bf-daf3ac926180" >
		<http:listener doc:name="Listener" doc:id="75d65232-7ae4-41bd-93d1-0693d58922f6" config-ref="HTTP_Listener_config" path="/read-json" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="24b8fb37-34f2-4878-8f53-28dac6dcb8a8" message="#[payload.id]"/>
	</flow>
</mule>
