samples/mule-msg-structure/src/main/mule/Set-header-restResponse.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="Set-header-restResponseFlow" doc:id="3670de71-6a10-4f46-a003-b470cd94b6b4" >
		<http:listener doc:name="Listener" doc:id="0092185c-976b-4205-af63-055c3cff6217" config-ref="HTTP_Listener_config" path="/rest-header" allowedMethods="GET">
			<http:response statusCode="200" reasonPhrase='"SUCCESS"' >
				<http:body ><![CDATA["Success"]]></http:body>
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="71268b95-0e07-45ad-9175-b44e77149cb3" message="#[payload]"/>
	</flow>
	<flow name="Set-DynamicHeader-restResponseFlow" doc:id="8f54f483-4428-49cc-a8d5-d44686c13521" >
		<http:listener doc:name="Listener" doc:id="75565fc9-d271-437f-b53a-5134e1d59548" config-ref="HTTP_Listener_config" path="/rest-header-dynamic" allowedMethods="GET" >
			<http:response statusCode="200" reasonPhrase='"SUCCESS"' >
			</http:response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="fb5deb1d-f720-4afa-a428-52a202866626" message="#[payload]" />
		<file:read doc:name="Read" doc:id="5a2327a0-962d-4038-9797-39af01f9fa11" path="C:\softwares_dee_learning\repositories-github\GitHub\mulesoft\samples\mule-msg-structure\files-demo\dynamic-header.txt"/>
		<logger level="INFO" doc:name="Logger" doc:id="53c69215-ce38-4e33-83ae-161baf60ed95" message="#[payload]"/>
	</flow>
</mule>
